.book__title {
	font-weight: bold;
	text-decoration: underline;
}

.book__author {
	font-style: italic;
}

.influencer-grid {
	width: 100%;
	padding-left: 50px;
	
	.influencer-grid__tile {
		position: relative;
		display: inline-block;
		width: 275px;
		height: 300px;
		overflow: hidden;
		margin: 10px;
	}

	.influencer-grid__portrait {
		position: absolute;
		top: 0;
		left: 0;
		min-height: 100%;
		min-width: 100%;
	}
	
	.influencer-grid__bio {
		display: block;
		position: absolute;
		bottom: 0;
		background-color: $transparentHotPink;
		width: 100%;
		padding: 10px;
		text-transform: uppercase;
		color: $white;
	}

}

.book-carousel {
	white-space: nowrap;
	
	.next-icon, .previous-icon {
		width: 50px;
		color: $white;
	}

	.slide { 
		background-color: $transparentWhite;
		margin: 0 10px;
		width: 85%;
		height: 270px;
		padding: 10px;
		display: none;
		&:nth-of-type(1) {
			display: inline-block;
		};
	}
	
	.book-carousel__cover { 
		width: auto;
		height: 250px;
		display: inline-block;
	}
	
	.book-carousel__blurb { 
		display: inline-block;
		width: 70%;
		white-space: normal;
		margin: 10px;
		padding: 1%;
	}

	.book-carousel__nav {
		width: 100%;
		display: block;
		list-style: none;
		.book-carousel__nav__dot {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			display: inline-block;
			margin: 5px;
			border: solid 1px $white;
		}
		.is-selected {
			background-color: $white;
		}
	}

}

// SECTIONS
///////////

section {
	&.reading {
		min-height: 400px;
		background: $gray url("book-2.png") no-repeat center bottom;
		background-size: contain;
	}
	&.library {
		min-height: 400px;
		background: url("book-1.jpeg") no-repeat center bottom;
		background-size: cover;
	}
}
