// Place all the styles related to the influencers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.portrait-medium {
	height: $medium;
}

.influencers-carousel {
	&.portrait {
		height: $medium;
	}
	&.name {
		text-transform: uppercase;
		font-weight: bolder;
	}
	&.quote {
		font-style: italic;
	}
}
