body {
	font-family: $bodyFont;
	font-size: 18px;
	@include bp-small {
		font-size: 16px;
	}
}

header {
	padding: 60px 20px;
	@include bp-small {
		padding: 40px 20px;
	}
}

footer {
	padding: 40px 20px;
	font-size: 14px;
	text-transform: uppercase;
	> a {
		text-decoration: none;
		color: $peach;
	}
}

section {
	padding: 75px 0;
	margin: 0;
	&:nth-child(odd) {
		background: $white
	}
	&:nth-child(even) {
		background: $gray;
	}
	@include bp-small {
		padding: 40px 0;
	}
}

h1, h2, h3, h4 {
	font-family: $headerFont;
}

h1 {
	font-size: 72px;
	opacity: .7;
	color: $peach;
	@include animation(changeAndFadeColors 20s infinite);
	@include bp-small {
		font-size: 50px;
	}
}

a {
	color: $bluegreen !important;
	&:hover {
		color: $peach !important;
	};
}

// HELPER CLASSES 
/////////////////

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.hide {
	display: none !important;
}

.block {
	display: block;
}

// ANIMATION KEYFRAMES
//////////////////////

@include keyframes(changeAndFadeColors) {
	0% { color: $hotpink; }
	25% { color: $pink; }
	50% { color: $peach; }
	75% { color: $yellow; }
	100% { color: $bluegreen; }
}




