body {
	font-family: $bodyFont;
	font-size: 18px;
}

header {
	padding: 60px 20px;
}

footer {
	padding: 40px 20px;
	text-align: center
}

section {
	padding: 60px 0;
	margin: 0;
	&:nth-child(odd) {
		background: $white
	}
	&:nth-child(even) {
		background: $gray;
	}

}

h1, h2, h3, h4 {
	font-family: $headerFont;
}

h1 {
	font-size: 72px;
	color: $peach;
	@include animation(changeAndFadeColors 20s infinite);
}


// HELPER CLASSES 
/////////////////

.text-center {
	text-align: center;
}

.hide {
	display: none !important;
}

// ANIMATION KEYFRAMES
//////////////////////

@include keyframes(changeAndFadeColors) {
	0% { color: $hotpink; }
	25% { color: $pink; }
	50% { color: $peach; }
	75% { color: $yellow; }
	100% { color: $bluegreen; }
}




